@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: Roboto;
}
h2{
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;    
    margin-top: 35px;
}
.container{
    width: 336px; 
    height: 100%;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background: linear-gradient( #FFDC40 0px,#FFDC40 25px, white 20px, white 100px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#enter{
    /* margin-top: 10px; */
    list-style-type: none;
    /* margin-right: 20px; */
    border: none;
    width:200px;
    height: 42px;
    padding: 0px;
    outline: none;
    /* padding-right: 10px; */
    /* background-image: url(./plus.svg) ;
    background-repeat:  no-repeat;
    background-position: 88% 50%; */
}
.button-and-input{
    /* position: absolute; */
    padding: 0px;
    display: flex;
    align-items: center;
    /* justify-content: center */
    margin: 0px;
}
.knopka{
    margin-left: 0px;
   margin-top: -100px ;
    background-color: none;
    position: relative;
    top: 5px;
    right: 9px;
    border: 0;
    background: transparent;
}
.plusik:hover{
    background: url(./plus2.svg); 
}
.in{ 

    /* font-family: Robot */
    display: flex;
    justify-content:flex-start;
    width: 150px;
    height: 42px;
    margin: 20px 90px 15px 90px;
    background-color: #833AE0;
    border: none;
    border-radius: 71px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    /* letter-spacing: 0em; */
    text-align: center;
}
button .plus{
    width: 42px;
    height: 40px;
    background-color: #9953F1;
    border-radius: 71px;
    justify-items: center;
    margin-top: 0px;
    margin-left: -6px;
    margin-right: 14px;
}
#list{
    z-index: 2; 
    margin-left: 280px;
}
#list:hover{
    /* display: none; */
    background: url('/sort2.svg');
}
li{
    list-style-type: none;
    /* margin-left: -35px; */
    /* padding: 0px; */
    /* margin-top: -25px; */
}
.button-and-input{
    /* margin-top: -10px; */
    margin-top: 10px;
    margin-left: 20px;
    width:286px;
    border: 1px #C4C4C4 solid;
    border-radius: 10px;
    height: 100%;
    outline: none;
    align-items: center;
    /* text-align:center; */
}
ul{
margin: 0px;
}